/* Enter your custom styles here */




/* Aca se establecen los colores del elemento segun sus estados */
tr[data-mydata="Pending"]{	
background:   #ff9933!important;
}
        
tr[data-mydata="SERVER DOWN"]{
    background: #f7e3e3!important;
}
tr[data-mydata="BANNED"]{
    background: #f7e3e3!important;
}
tr[data-mydata="Approved"]{
background:  #33cc33!important;
}