/* Enter your custom styles here */




/* Aca se establecen los colores del elemento segun sus estados */
tr[data-mydata="Pending"]{	
background:   #ff9933!important;
}
        
tr[data-mydata="SERVER DOWN"]{
    background: #f7e3e3!important;
}
tr[data-mydata="BANNED"]{
    background: #f7e3e3!important;
}
tr[data-mydata="GOOD"]{
    background: #b9ffb9!important;
}
tr[data-mydata="REPORTED"]{
background:  #fff7b3!important;
}